.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  display: flex;
  align-items: center;
  position: relative;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.banner_title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  color: #fff;
}

.banner_desc {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

/* Add sticky and background transition to the navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

/* When scrolling down, change the navbar background color to black */
.scrolled .navbar {
  background-color: #000;
  height: 70px; /* Adjust the height as needed */
}
